<div style="margin-left: <%= depth * .5 %>rem">
  <li class="col-6 justify-content-between mt-6">
    <%= comment.text %>
  </li>

  <!-- Add comment to comment -->
  <details class="mt-2">
    <summary>Add a comment</summary>
    <form action="/comments/createComment/<%= post.id %>" method="POST" class="mt-3">
      <div class="mb-3">
          <textarea type="text" class="form-control input input-bordered" id="text" name="text" placeholder="Leave a comment" style="width: 100%"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </details>
  <% for (const subComment of comment.comments || []) { %>
    <%- include('comment', { postId, comment: subComment, depth: depth + 1 }) -%>
  <% } %>
</div>