<!-- <%- include('partials/header') -%> -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="mt-5">
        <h2>Add a comment</h2>
        <form action="/comment/createComment/<%= posts._id%>" method="POST">
          <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <ul class="row list-unstyled">
        <% for(var i=0; i<comments.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <%= comments[i].comment%>
          </li>
          <% } %>
      </ul>
  </div>
</div>