<div class="row">
	<% if (locals.messages.error) { %>
		<% messages.error.forEach( el => { %>
			<div class="alert alert-danger"><%= el.msg %></div>
		<% }) %>
	<% } %>
		<% if (locals.messages.success) { %>
		<% messages.success.forEach( el => { %>
			<div class="alert alert-success"><%= el.msg %></div>
		<% }) %>
	<% } %>
	<% if (locals.messages.info) { %>
		<% messages.info.forEach( el => { %>
			<div class="alert alert-info"><%= el.msg %></div>
		<% }) %>
	<% } %>
</div>