<div class="col-6">
  <h2>Following</h2>
  <% for (var i=0; i < user.following.length; i++) {%>
  <li class="col-6 justify-content-between mt-5">
    <a href="/publicProfile/<%= user.following[i]._id %>">
      <span><%= user.following[i].userName %></span>
    </a>
  </li>
  <% } %>
</div>
