<div class="flex flex-col items-center justify-center gap-6 sm:flex-row mt-32">
<a href="#top" class="text-center text-zinc-800 dark:text-zinc-100 transition hover:text-teal-500 dark:hover:text-teal-400 text-sm font-medium" data-js-hook="back-to-top-button">
	<svg aria-hidden="true" class="inline h-4 w-4 group-hover:mb-2 duration-200" fill="currentColor" fill-rule="evenodd" viewBox="0 0 24 24" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"></path></svg>
	<span>Back to top</span>
</div>
</a>
</div>
</div>
</div>
</main>
<footer class="mt-8">
	<div class="sm:px-8">
		<div class="mx-auto max-w-7xl lg:px-8">
			<div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
				<div class="relative px-4 sm:px-8 lg:px-12">
					<div class="mx-auto max-w-2xl lg:max-w-5xl">
						<div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
							<div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
								<a class="transition hover:text-teal-500 dark:hover:text-teal-400" href="https://github.com/raissa-k/latest-social-network" target="_blank">See on GitHub</a>
							</div>
							<p class="text-sm text-zinc-400 dark:text-zinc-500">© 2022 Raissa K. All rights reserved.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="/script.js"></script>
<!-- <script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script> -->
</body>
</html>