
    
<footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://stanleycohara.netlify.app/" class="hover:underline">S. Chase O'Hara</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://github.com/Chaseocodes" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
          <a href="https://stanleycohara.netlify.app/" class="hover:underline">Contact</a>
      </li>
  </ul>
</footer>
<!-- <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script> -->
    </body>
</html>
