  <!-- Footer-->
  <footer class="footer footer-center p-4 bg-primary text-base-content mt-auto ">
    <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; <a href="shailynmoore.com/">ShaiTech</a> 2022</p></div>
</footer>
<script src="https://cdn.tailwindcss.com"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>