<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMV Tennis League</title>
<!-- this is the image in the tab -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link href="/dist/output.css" rel="stylesheet">
    <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
 
<!-- Font Awesome Link -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
  crossorigin="anonymous"
/>
  </head>
  <body>
    <nav class="navbar w-full bg-white">
      <div class="container-lg px-0">
        <div class="flex w-full items-center">
          <button
            navbar-trigger=""
            class="navbar-trigger ml-auto mr-0 mb-0 block lg:hidden"
            type="button"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-trigger-icon">
              <span bar1="" class="navbar-trigger-bar mt-1"
                ><span class="hidden origin-[10%_10%] rotate-45"></span
              ></span>
              <span bar2="" class="bar2 navbar-trigger-bar mt-2"></span>
              <span bar3="" class="bar3 navbar-trigger-bar mt-2"
                ><span
                  class="mt-mt-[0.4375rem] hidden origin-[10%_90%] -rotate-45"
                ></span
              ></span>
            </span>
          </button>
        </div>
        <div class="collapse navbar-collapse" navbar-menu="">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" aria-current="page" href="/">
                <i class="material-icons mr-2 text-base opacity-60">article</i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="/leaderboard">
                <i class="material-icons mr-2 text-base opacity-60">apps</i>
                <span>Leaderboard</span>
              </a>
            </li>
            <li class="flex">
              <a class="nav-link" href="/profile">
                <i class="material-icons mr-2 text-base opacity-60"
                  >view_carousel</i
                >
                <span>Profiles</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="/about">
                <i class="fab fa-github mr-2 text-base opacity-60"></i>
                <span>About</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="/admin">
                <i class="fab fa-github mr-2 text-base opacity-60"></i>
                <span>Admin</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </body>
  <!-- from node_modules -->
<script src="/node_modules/@material-tailwind/html/scripts/collapse.js"></script>
 
</html>
