<!DOCTYPE html>
<html lang="en" data-theme="corporate">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track Organizer</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/icons8-music-library-40.png"
    />
    <!-- <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" /> -->
    <!-- Tailwind and Daisy UI-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container flex border shadow-md">
      

      <div class="dropdown">
        <button tabindex="0" class="btn m-1 bg-gray-50"><img src="/imgs/icons8-music-library-40.png" alt="#"></button>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a class="btn btn-ghost" href="/profile">Profile</a></li>
          <li><a href="/logout" class="btn btn-ghost" >Logout</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
