<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMV Tennis League</title>
<!-- this is the image in the tab -->
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/tennis_racket.png"/>
  </head>
  <body>
    <div class="navbar bg-base-100 flex justify-end">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">DMV Singles Ladder</a>
      </div>
      <div class="flex justify-end">
        <ul class="menu menu-horizontal p-0">
          <li><a href="/">Home</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="about">About</a></li>
          <li><a href="/login" class="col-3 btn btn-primary">Login</a></li>
          <li><a href="/signup" class="col-3 btn btn-primary"> Signup</a></li>
        </ul>
      </div>
    </div>
  </body>
    
</html>
