<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Binary Upload Boom</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<header class="bg-black px-12 py-8 text-white flex justify-between items-center">
			<div>
				<h1 class="text-3xl font-semibold"><a href="/profile">Binary Upload Boom</a></h1>
				<span class="text-gray-300">The #100Devs Social Network</span>
			</div>
			<% if (!locals.user) { %>
			<a href="/login" class="">Log in</a>
			<% } else { %>
			<div class="flex gap-4 items-center">
				<div class="avatar w-16 h-16 rounded-full border border-white"></div>
				<div>
					<p><strong>Logged in as</strong>: <%= user.userName %></p>
					<p><strong>Email</strong>: <%= user.email %></p>
					<a href="/logout" class="">Logout</a>
				</div>
			</div>
			<% } %>
		</header>
	</body>
</html>
