<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMV Tennis League</title>
<!-- this is the image in the tab -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
<!-- <script src="../node_modules/tw-elements/dist/js/index.min.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <a href="/" class="btn btn-ghost normal-case text-xl">Home</a>
      <a href="/leaderboard" class="btn btn-ghost normal-case text-xl">Leaderboard</a>
      <a href="/profile" class="btn btn-ghost normal-case text-xl">Profiles</a>
      <a href="/about" class="btn btn-ghost normal-case text-xl">About</a>
      <a href="/admin" class="btn btn-ghost normal-case text-xl">Admin</a>
    </div>
  </body>
</html>
