<div class="modal fade" id="add-league" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Something</h5>
        <!--  <button type="button" data-dismiss="modal"> -->

        <i class="fa-solid fa-square-xmark close" data-dismiss="modal"></i>
        <!--  </button> -->
      </div>
      <div class="modal-body">
        <form action="/profile/updateLeague/<%= user.id%>?_method=PUT" enctype="application/x-www-form-urlencoded"
          method="POST">
          <div class="mb-3">
            <label for="league" class="form-label">League</label>
            <input type="text" class="form-control form-control-sm" id="league" name="league" placeholder="league">
          </div>
          <div class="mb-3">
            <label for="sport" class="form-label">Sport</label>
            <input type="text" class="form-control form-control-sm" id="sport" name="sport" placeholder="sport">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary submit" value="Upload">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>