<div class="d-flex flex-column text-center">
  <a href="/profile">
    <img
      class="logo-image"
      src="imgs/logo.png"
      alt="Binary Upload Boom Logo"
    />
  </a>
  <p class="m-0 mt-2">The #100Devs Social Network</p>
</div>
