<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Modify my comment</h4>

				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<form id="commentForm">
				<div class="modal-body" id="modalBody"></div>

					<!-- don't get rewrited in the body -->
					<input type="hidden" class="form-control" id="post" name="post" value="<%= post.id %>" />
					<input type="hidden" class="form-control" id="user" name="user" value="<%= user.id %>" />

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-warning float-end">Submit</button>

				</div>
			</form>

		</div>
	</div>
</div>
