<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle"></h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<form id="modalForm" method="post">
				<div class="modal-body" id="formContent"></div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-warning float-end" id="submitButton"></button>
				</div>
			</form>
		</div>
	</div>
</div>
