<nav class="navbar sticky-top navbar-expand-lg "> <!--bg-dark navbar-dark-->
    <div class="container-fluid">
        <a class="logo navbar-brand mb-0 h1 wobble-hor-bottom" href="/">The Art Lounge
          <img src="/imgs/logo.png" alt="The Art Lounge Logo">
        </a>
        <div id="tabs" class="d-flex flex-row">
          <a href="/feed" class="nav-link" aria-current="page">Dash</a>
          <a href="/profile" class="nav-link" >Profile</a>
          <a href="/logout" class="nav-link" >Log out<i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
</nav>