<!-- navabar-start -->
  <nav class="navbar navbar-dark bg-dark border-bottom-5 navbar-expand-md">
    <div class="container-fluid m-1">
      <a class="navbar-brand" href="/feed">100Devs Network</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <!-- dropdown-start -->
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
         <%= user.userName %>
        </button>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><button class="dropdown-item" type="button">Dark Mode</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item href=#" type="button">Settings</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" href="/logout" type="button">Logout</button></li>
        </ul>
      </div>
      <!-- dropdown-end -->
    </div>
  </nav>
  <!-- nav -->
