<div id="table" class="table-editable">
    <span class="table-add glyphicon glyphicon-plus">
        <i class="fa-solid fa-circle-plus"></i>
    </span>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
            </td>
            <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
        </tr>
        <!-- This is our clonable table line -->
        <tr class="hide">
            <td contenteditable="true">Untitled</td>
            <td contenteditable="true">undefined</td>
            <td contenteditable="true">Untitled</td>
            <td contenteditable="true">undefined</td>
            <td contenteditable="true">Untitled</td>
            <td contenteditable="true">undefined</td>
            <td contenteditable="true">Untitled</td>
            <td contenteditable="true">undefined</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
        </tr>
    </table>
</div>

<button id="export-btn" class="btn btn-primary">Export Data</button>
<p id="export"></p>
</div>