<div id="table" class="table-editable">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <!-- <td contenteditable="true" name="cell1" id="cell1">Stir Fry</td> -->
            <td data-editable="true" contenteditable="true">

                <input type="text" class="form-control form-control-sm" id="player" name="player" placeholder="Player">
            </td>

            <td contenteditable="true" name="cell1" id="cell1">stir-fry</td>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td contenteditable="true">Stir Fry</td>
            <td contenteditable="true">stir-fry</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
            </td>
            <!-- <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td> -->
        </tr>
        <!-- This is our clonable table line -->
        <tr class="hide">
            <td contenteditable="true" name="cell2" id="cell2">Untitled</td>
            <td contenteditable="true" name="cell2" id="cell2">undefined</td>
            <td contenteditable="true">Untitled</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true">undefined</td>
            <td contenteditable="true">Untitled</td>
            <td contenteditable="true">undefined</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
            </td>
            <!-- <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td> -->
        </tr>
    </table>
</div>
<!-- <span class="table-add glyphicon glyphicon-plus">
    <i class="fa-solid fa-circle-plus"></i>
</span> -->
<button id="export-btn" class="btn btn-primary">Export Data</button>
<p id="export"></p>
</div>