<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />

<main class="container">
    <div class ="p-8">
        <span>**Registration is open! Your $30 entry fee for the year is your registration…I take care of the rest. Contact info for all players on the DMV Facebook Page–you can join that once entry fee is confirmed**</span>
        <p>Welcome to the site for the DMV Singles Tennis Ladders. This is your home for singles ladders in the DMV area. We had a great and very active summer season last year with over 120 players. For the winter I ran a singles tennis ladders, also–and it included over 45 players. The 2022 spring/summer/fall season will start up again on April 1st and run until Oct. 31st. This ladder will give you a ton of fun and flexible matches you can schedule on your own time (you schedule matches with your opponent). This year there will be 3.5, 4.0, 4.5 and 5.0 singles ladders for men and women (separate ladders for genders). This year I am allowing everyone to sign up for two ladders if they would like and qualify. For instance, if you are a 4.0 but would also like to play in the 4.5 ladder you can do so at no extra cost. If you are a 5.0, tough luck–one ladder only! 🙂 Feel free to enter these results in UTR if you like, or use ladder matches for fun competition and practice matches to get ready for USTA. Feel free to see previous results and standings under the Tennis Ladders tab (scroll down). 10 points per win. Best 2/3 full sets is the default format (2/3 with 10 point breaker if both players agree). Whoever earns the most points by the end of the season wins the ladder! </p>
        <p>The one time entry fee for matches from April 1 to October 31st is only $30. At the end of the year the winner and runner up of each category will receive a tennis-oriented gift card and medal trophies will also be awarded. Results will be posted under the Tennis Ladders tab. Contact info for all players will be posted on the Facebook page and in a separate Doc e-mailed to you. To register simply send me $30 as your one time entry fee…..The simple ladder rules are also posted under the ladder tab. Sign up by e-mailing me to express your interest and let me know which category you will play in. For the one-time entry fee you can Paypal me at Nleslie@nvcc.edu Venmo is also good: @Nathan-Leslie-3 Results for all matches can be reported to my e-mail and I will post them on this site: Nleslie@nvcc.edu </p>
        <span>We have a Facebook Page now for the DMV Singles Tennis Ladders: https://www.facebook.com/groups/452112559243171 Check it out!</span>
    </div>

</main>
    

<%- include('partials/footer') -%>