<%- include('partials/header') -%>

<body>
    <!-- text box for announcement -->
    <div class="tab-pane fade show active" id="tabs-Announcement2" role="tabpanel"
    aria-labelledby="tabs-tabAnnouncement">
    <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
          <label for="exampleFormControlTextarea1" class="form-label inline-block mb-2 text-gray-700"
            >Announcement</label
          >
          <textarea
            class="
              form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
            "
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Your message"
            name="announcementText"
          ></textarea>
        </div>
      </div> 
</body>
    

<%- include('partials/footer') -%>
