<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<body>
    <form action="/admin/createPlayer" method="POST">
        <div class="tab-pane fade" id="tabs-addPlayer" role="tabpanel" aria-labelledby="tabs-addPlayer">
          <!-- email -->
          <div class="flex justify-center">
              <div class="mb-3 xl:w-96">
                <label for="exampleEmail0" class="form-label inline-block mb-2 text-gray-700"
                  >Email</label
                >
                <input
                  type="email"
                  class="
                    form-control
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                  "
                  id="exampleEmail0"
                  placeholder="Email input"
                  name="email"
                />
              </div>
            </div>
            <!-- first name -->
            <div class="flex justify-center">
              <div class="mb-3 xl:w-96">
                <label for="exampleText0" class="form-label inline-block mb-2 text-gray-700"
                  >First Name</label
                >
                <input
                  type="text"
                  class="
                    form-control
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                  "
                  id="exampleText0"
                  placeholder=""
                  name="firstName"
                />
              </div>
            </div>
            <!-- last name -->
          <div class="flex justify-center">
              <div class="mb-3 xl:w-96">
                <label for="exampleEmail0" class="form-label inline-block mb-2 text-gray-700"
                  >Last Name</label
                >
                <input
                  type="text"
                  class="
                    form-control
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                  "
                  id="exampleEmail0"
                  placeholder=""
                  name="lastName"
                />
              </div>
            </div>
            <!-- league -->
            <label class="block text-left" style="max-width: 300px">
              <span class="text-gray-700">League</span>
              <select class="form-multiselect block w-full mt-1" multiple name="league">
                <option>5.0 Men</option>
                <option>4.5 Men</option>
                <option>4.0 Men</option>
                <option>3.5 Men</option>
                <option>4.5+ Women</option>
                <option>4.0 Women</option>
              </select>
            </label>
            <!-- pref courts -->
            <div class="flex justify-center">
              <div class="mb-3 xl:w-96">
                <label for="exampleEmail0" class="form-label inline-block mb-2 text-gray-700"
                  >Preferred Courts</label
                >
                <input
                  type="text"
                  class="
                    form-control
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                  "
                  id="exampleEmail0"
                  placeholder="Wimbledon"
                  name="prefCourt"
                />
              </div>
            </div>
            <!-- Pref times -->
            <div class="flex justify-center">
              <div class="mb-3 xl:w-96">
                <label for="exampleEmail0" class="form-label inline-block mb-2 text-gray-700"
                  >Preferred Times</label
                >
                <input
                  type="text"
                  class="
                    form-control
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                  "
                  id="exampleEmail0"
                  placeholder="After 5PM MWF"
                  name="prefTime"
                />
              </div>
            </div>
            <!-- next section -->
            <div class="flex space-x-2 justify-center">
              <button type="Submit" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Submit Player</button>
            </div>
          </form>
</body>
    

<%- include('partials/footer') -%>
