<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />

<body>
Admin
<div class="tabs tabs-boxed">
    <a class="tab">Tab 1</a> 
    <a class="tab tab-active">Tab 2</a> 
    <a class="tab">Tab 3</a>
  </div>
</body>


<%- include('partials/footer') -%>