<%- include('partials/header') -%>

<body>
Admin
<div class="tabs tabs-boxed">
    <a class="tab">Tab 1</a> 
    <a class="tab tab-active">Tab 2</a> 
    <a class="tab">Tab 3</a>
  </div>
</body>


<%- include('partials/footer') -%>