<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
<script src="../script.js" defer></script>
<link href="../styles.css" rel="stylesheet">
<body>
    <ul>
        <li data-tab-target="#addAnnouncement" class="active tab">Add Announcement</li>
        <li data-tab-target="#addPlayer" class="tab">Add Player</li>
        <li data-tab-target="#addMatch" class="tab">Add Match</li>
        <li data-tab-target="#startNewSeason" class="tab">Start New Season</li>
    </ul>

    <div class="tab-content">
        <div id="addAnnouncement" data-tab-content class="active">
            <h1>Add Announcement</h1>
        </div>
        <div id="addPlayer" data-tab-content>
            <h1>Add Player</h1>
        </div>
        <div id="addMatch" data-tab-content>
            <h1>Add Match</h1>
        </div>
        <div id="startNewSeason" data-tab-content>
            <h1>Start New Season</h1>
        </div>
    </div>
</body>


<%- include('partials/footer') -%>
