<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
            <h2>Add a Doctor</h2>
            <form action="/contact/createContact" enctype="multipart/form-data"  method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Doctor Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              
              <!-- <div class="mb-3">
                <label for="provider" class="form-label">Prescribing Physician</label>
                <input type="text" class="form-control" id="provider" name="provider">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Photo of Medication and Label</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="btn btn-primary" value="submit">Submit</button>
            </form>
          </div>
      </div>
      
      </div>
     
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/cabinet">Medicine Cabinet</a>
        <a class="btn btn-outline-primary" href="/directory">Your Providers</a>
      </div>    
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
