<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
  
            <h2>Add a Doctor</h2>
            <form action="/contact/createContact"  enctype="multipart/form-data"  method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Doctor Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Office Address</label>
                <textarea class="form-control" id="location" name="location"></textarea>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <textarea class="form-control" id="phoneNr" name="phoneNr"></textarea>
              </div>
              <!-- <div class="mb-3">
                <label for="provider" class="form-label">Prescribing Physician</label>
                <input type="text" class="form-control" id="provider" name="provider">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Photo of Medication and Label</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <label for="ul"><h2>Your Healthcare Providers</h2>
        <span>Click to View Details:</span></label>
        <ul class="row list-unstyled">
        <% for(var i=0; i<contacts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <h2><%= contact.title %></h2>
            <a href="/contact/<%= contacts[i]._title%>">
            </a>
          </li>
        <% } %>
        </ul>
        
      </div>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/cabinet">Medicine Cabinet</a>
        <a class="btn btn-outline-primary" href="/contact">Your Providers</a>
      </div>    
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
