<%- include('partials/header') -%>
<div class="container">
<div class="row justify-content-center mt-5">
  <h1>Your Phonebook</h1>
  <p>How to get in Touch with your Providers</p>
</div>
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<contacts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/contact/<%= contacts[i].title %>">
            </a>
          </li>
        <% } %>
      
        </ul>
    </div>
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/dashboard">Add a Medication</a>
      <a class="btn btn-outline-primary" href="/contacts">Your Doctors</a>
    </div>  
  </div>  
<%- include('partials/footer') -%>