<%- include('partials/header') -%>

<form>
    <!-- Stats -->
    <h3>Stat Input</h3>

    <div class="form-group row">
        <label for="inputStat1" class="col-sm-2 col-form-label">Stat1</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputStat1" placeholder="Stat1">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputStat2" class="col-sm-2 col-form-label">Stat2</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputStat2" placeholder="Stat2">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputStat3" class="col-sm-2 col-form-label">Stat3</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputStat3" placeholder="Stat3">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputStat4" class="col-sm-2 col-form-label">Stat4</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputStat4" placeholder="Stat4">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputStat5" class="col-sm-2 col-form-label">Stat5</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputStat5" placeholder="Stat5">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputStat6" class="col-sm-2 col-form-label">Stat6</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputStat6" placeholder="Stat6">
        </div>
    </div>

    <!-- TODO Next Section -->
    <h3>Skills and Abilities</h3>

    <div class="">
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">SkillName</label>
            <input type="text" class="form-control" id="inputName" placeholder="SkillName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputSkillDescription">SkillDescription</label>
            <input type="password" class="form-control" id="inputSkillDescription" placeholder="Password">
        </div>
        </div>
    </div>

    <!-- todo Add button to duplicate Skill/Ability section one at a time -->

<%- include('partials/footer') -%>