<%- include('partials/header') -%>

<!-- display images here -->
<div class="grid">
  <% for(var i=0; i<posts.length; i++) {%>
  <div class="mt-5 flex justify-center">
    <div class="w-1/4">
      <a href="/post/<%= posts[i]._id%>">
        <img src="<%= posts[i].image%>">
      </a>
    </div>
  </div>
  <% } %>
</div>
<%- include('partials/footer') -%>