<%- include('partials/header') -%>

<main>
	<div class="flex flex-col gap-4 text-center items-center justify-center mt-12 font-bold text-2xl">
		<a href="/login" class="bg-blue-600 text-white rounded-full px-8 py-3">Login</a>
		<a href="/signup" class="bg-gray-300 rounded-full px-8 py-3">Signup</a>
	</div>
</main>

<%- include('partials/footer') -%>
