<%- include('partials/header') -%>
<div class="main">
<!-- <div class="main">
  <nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav> -->
<div class="login-card">
    <div class="card-body">
      <a href="/login" class="col-3 btn btn-primary"> Login</a>
      <a href="/signup" class="col-3 btn btn-primary"> Create Account</a>
    </div>
  </div>
  <div class="Logo-heart">
    <img src="imgs\Life Line Main Splash.png" alt="Organized Peace of Mind">
  </div>
  </div>
</div>
</div>
</div>

<%- include('partials/footer') -%>