<%- include('partials/header') -%>

<main class="container index">

    <div class="container-fluid">
        <a class="navbar-brand fade-in" href="/">The Art Lounge</a>
    </div>
    <div class="scale-up-center fade-in">
        <p>Level up your art and design skills with personal feedback on your work.</p>
    </div>
    <div class="interact scale-up-center fade-in">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') -%>