<%- include('partials/header') -%>

<main class="container login row align-items-center justify-content-around">
    <div class="row justify-content-evenly">
        <a href="/login" class="col-1 btn btn-primary"> Login</a>
        <a href="/signup" class="col-1 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>