<%- include('partials/header', {title: "Binary Upload Boom", page: 'index'}) -%>

<main class="container">
    <div class="row justify-content-around">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>