<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <title>Dapur Nenek</title>
  </head>
  <body>
    <header class="container p-5 px-8 mx-auto">
      <nav class="flex justify-between items-center">
        <div>
          <h2 class="font-bold text-2xl">dapurNenek.</h2>
        </div>
        <div class="space-x-6">
          <a
            href="#"
            class="text-center text-baseline hover:text-darkGrayishBlue"
            >Login</a
          >
          <a
            href="#"
            class="text-center p-2 px-3 rounded-full bg-brightRed hover:bg-brightRedLight"
            >Signup</a
          >
        </div>
      </nav>
    </header>
    <section>
      <div class="container flex flex-col md:flex-row p-5 px-8 mx-auto">
        <section class="flex flex-col w-1/2 justify-center">
          <h1
            class="max-w-md mb-6 font-bold text-4xl text-center md:text-5xl md:text-left"
          >
            Lorem ipsum dolor sit amet consectetur elit.
          </h1>
          <p
            class="text-darkGrayishBlue mb-6 max-w-sm text-center md:text-left"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ut
            deleniti omnis omnis mollitia, facilis facere!
          </p>
          <buttton class="flex justify-center md:justify-start">
            <a
              href="#"
              class="text-center p-2 px-3 rounded-full bg-brightRed hover:bg-brightRedLight"
              >Signup Now</a
            >
          </buttton>
        </section>
        <section class="w-1/2">
          <img src="../public/imgs/Pizza maker-pana.png" alt="hero img" />
        </section>
      </div>
    </section>
  </body>
</html>
