<%- include('partials/header') -%>



  <div class="container col-xxl-8 px-4 py-5 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/movie2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Share your favorite movies with freinds and family</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quam maxime modi optio dicta. Quaerat!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Signup for Movie Library
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

  
  
    

<%- include('partials/footer') -%>