<%- include('partials/header') -%>
<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">The Art Lounge</a>
    </div>
</nav>
<main class="container index">
    <div class="interact">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') -%>