<%- include('partials/header') -%>

<main class="h-full flex flex-col justify-center items-center pb-40">
    <div class="text-center">
        <h1 class="text-secondary-focus text-4xl font-silk"><a href="/profile">Binary Upload Boom</a></h1>
        <span class="font-silk">The #100Devs Social Network</span>
      </div>
    <div class="row justify-content-around mt-16">
        <a href="/login" class="m-5 btn btn-primary"> Login</a>
        <a href="/signup" class="m-5  btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>