<%- include('partials/header') -%>

<main class="container index">
    <div class="interact">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') -%>