<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> I've been here before</a>
        <a href="/signup" class="col-3 btn btn-primary"> I'm new</a>
    </div>
</main>
    

<%- include('partials/footer') -%>