<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
       
    </div>
    <!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="https://res.cloudinary.com/dary9ejtn/video/upload/v1664051980/Sneakersvid_vqaflk.mov" type="video/mp4">
  </video>
  <!-- Optional: some overlay text to describe the video -->
<div class="content">
    <h1 class="headline">Show Off Your New Sneakers</h1>
    <p class="subheadline">Win prizes when you get more likes!</p>

    <a href="/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
</main>
    

<%- include('partials/footer') -%>