<%- include('partials/header') -%>

<main class="container">
    <!-- changed to justify-content-evenly to move buttons closer to center -->
    <div class="row justify-content-evenly mt-5">
        <a href="/login" class="col-3 btn btn-primary shadow-none" > Login</a>
        <a href="/signup" class="col-3 btn btn-primary shadow-none"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>