<%- include('partials/header') -%>

<main class="container">
    <div class="d-flex justify-content-center gap-2">
        <a href="/login" class="btn bub-blue text-white">Login</a>
        <a href="/signup" class="btn bub-blue text-white">Sign Up</a>
    </div>
</main>
    

<%- include('partials/footer') -%>