<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary" style="background-color: rgb(86, 179, 255);"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary" style="background-color: rgb(86, 179, 255);"> Signup</a>
    </div>
</main>
    

