<%- include('partials/header') -%>
<div class="main">
  <div class="login-card">
    <div class="row g-0">
      <div class="col-5 col-sm-4">
        <img src="imgs\Life Line Main Splash.png" class="img-fluid w-100" alt="LifeLine">
      </div>
      <div class="col-7 col-sm-8">
        <div class="card-body"> 
          <!-- <h5 class="card-title">Card title</h5> -->
          
          <p class="card-text">Master your healthcare goals through organization. <br> Login to begin.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Create Account</a>
      </div>
    </div>
  </div>
</div>









<%- include('partials/footer') -%>