<%- include('partials/header') -%>
<header class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="text-center">
        <h1 class="">Welcome To The Gym!</a></h1>
        <span>The #100Devs Project</span>
    </div>
    </header>
<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>