<%- include('partials/header') -%>

<main class="container pt-3">
    <div class="container">
        <div class="container text-center my-4">
            <h1>Thanks for visiting Design Palette! </h1>
            <p>An interior design feed meant to inspire you to create beautiful spaces.</p>
        </div>
    </div>

    <div class="row justify-content-around mt-5">
        <div class="w-100"></div>
        <a href="/login" class="col-3 btn btn-secondary"> Login</a>
        <div class="w-100 pb-3"></div>
        <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
    </div>

    <div class="container">
        <div class="container text-center my-5">
            <h2>Feautured Posts:</h2>
        </div>
    </div>


    <div class="container">
        <div class="row row-cols-2">
          <div class="col">
            <img src="/imgs/jonathan-borba-3w3FqbxG0nc-unsplash.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <img src="/imgs/med-badr-chemmaoui-xtDpXi_a-YQ-unsplash.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <img src="/imgs/elena-popova-SY0H1_dmDoA-unsplash.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <img src="/imgs/remy_loz-3S0INpfREQc-unsplash.jpg" class="img-thumbnail" alt="">
          </div>
        </div>
      </div>
   
   
</main>
    

<%- include('partials/footer') -%>