<%- include('partials/header') -%>

    <main class="container">
        <div class="container text-center my-5">
            <h1>Welcome to Only Meows</h1>
            <p>See cats, share cats, and give pets. Show me your kitties. No dogs allowed.</p>
        </div>

        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </main>


    <%- include('partials/footer') -%>