<%- include('partials/header') -%>

<main class="container" id="logContainer">
    <div class="row" id="loginContainer">
        <a href="/login" class="col-3 btn btn-primary" id="loginBtn"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary" id="signUpBtn"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>