<%- include('partials/header') -%>

<main class=" p-5 text-center bg-image card shadow bg-gradient"
style="
background-color: black;
height: 100vh;
"
>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-outline-light btn-lg shadow "> Login</a>
        <a href="/signup" class="col-3 btn btn-outline-light btn-lg shadow "> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>