<%- include('partials/header') -%>
<div class="mt-5">
    <form action="/langChoice/createTable" method='POST'>
      <div class="row justify-content-around">
        <input type="checkbox" name='languages' value="mandarin"> Mandarin
        <input type="checkbox" name='languages'value="cantonese"> Cantonese
        <input type="checkbox" name='languages'value="hokkien"> Hokkien
      </div>
      <br>
      <div class="mt-1 row justify-content-around">
        <input type="submit" class="col-2 btn btn-primary" id="#getButton">
      </div>
  </form>
  </div>
  
  <script type="text/javascript" src="js/main.js"></script>
<%- include('partials/footer') -%>