<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />

    <!-- Leaderboard box -->
    <div class="overflow-x-auto">
        <h2>4.5 Men's Leaderboard</h2>
        <table class="table table-zebra w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>W/L</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>1</th>
              <td>Nathan Leslie</td>
              <td>54-10</td>
              <td>540</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>2</th>
              <td>Jin Hong</td>
              <td>45-35</td>
              <td>450</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>3</th>
              <td>Tony Nguyen</td>
              <td>28-5</td>
              <td>280</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="overflow-x-auto">
        <h2>5.0 Men's Leaderboard</h2>
        <table class="table table-zebra w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>W/L</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>1</th>
              <td>Joseph Awadalla</td>
              <td>24-2</td>
              <td>240</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>2</th>
              <td>Kyu Choi</td>
              <td>18-6</td>
              <td>180</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>3</th>
              <td>Nathan Leslie</td>
              <td>15-4</td>
              <td>150</td>
            </tr>
          </tbody>
        </table>
      </div>

<%- include('partials/footer') -%>

<!-- use the feed code to put matches in here -->