<%- include('partials/header') -%>
<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 filter" href="/">The Art Lounge</a>
  </div>
</nav>
<main class="login intro container">
  <h2 class="mb-3">Sign in</h2>
  <!-- display error messages -->
  <% if (locals.messages.errors || locals.messages.info) { %>
    <div class="errMsgs">
      <div class="alert alert-danger">
        <% if (locals.messages.errors) { %> 
          <% messages.errors.forEach( el => { %>
            <span><%= el.msg %></span>
          <% }) %>
        <% } %> 
        <% if (locals.messages.info) { %> 
          <% messages.info.forEach( el => { %>
            <span><%= el.msg %></span>
          <% }) %> 
        <% } %>
      </div>
    </div>
  <% } %>
        
  <!--form-->
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email" placeholder="bob@100devs.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password" placeholder="One00D3vsR0cks!"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>Don't have an account?</p>
  <a href="/signup">Sign up</a>
    <!-- </section> -->
  <!-- </div> -->
</main>

<%- include('partials/footer') -%>
