<%- include('partials/headers/header-logo') -%>

<main class="container-login-signup-main">
  <div class="container-login-signup-box">
    <section class="container-login-section container-login-signup-section">
      <h2 class="login-signup-title">SIGN IN</h2>
      <form action="/login" method="POST">
        <section class="section-login-form section-login-signup-form">
          <section class="section-each-input-login section-each-input-login-signup" >
            <label for="exampleInputEmail1" class="form-label"
            >Email
          </label> 
          <input
            type="email"
            class="form-input"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"/>
        </section>
          <section class="section-each-input-login section-each-input-login-signup">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              class="form-input"
              id="exampleInputPassword1"
              name="password"/>
          </section>
        </section>
        <section class="container-alert">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
            <span class="alert"><%= el.msg %></span>
            <% }) %> <% } %>
            <% if (locals.messages.info) { %> <%
              messages.info.forEach( el => { %>
              <span class="alert"><%= el.msg %></span>
              <% }) %> <% } %>
        </section>
        <section class="container-btn">
          <button type="submit" class="login-signup-submit-btn">GO</button>
        </section>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
