<%- include('partials/header') -%>

<div class="tab-pane fade" id="tabs-seasonsVertical" role="tabpanel"
aria-labelledby="tabs-seasons-tabVertical">
<!-- beginning of start new season tab -->
Start new season11241234q234
<!-- end of start new season tab -->
<!-- go back and rename the id's and labelledby-->
</div>
    

<%- include('partials/footer') -%>
