<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />



<!-- beginning of start new season tab -->
Start new season [WIP]
<!-- end of start new season tab -->
<!-- go back and rename the id's and labelledby-->
</div>
    

<%- include('partials/footer') -%>
