<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />

Start new season [WIP]

</div>
    

<%- include('partials/footer') -%>
