<%- include('partials/header') -%>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
<div class="tab-pane fade" id="tabs-seasonsVertical" role="tabpanel"
aria-labelledby="tabs-seasons-tabVertical">

<div class="navbar bg-base-100">
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li tabindex="0">
          <a a href="/admin">
            Select a function
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a href="/addAnnouncement">Add Announcement</a></li>
            <li><a href="/addPlayer">Add Player</a></li>
            <li><a href="/addMatch">Add Match</a></li>
            <li><a href="/newSeason">Start New Season</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<!-- beginning of start new season tab -->
Start new season [WIP]
<!-- end of start new season tab -->
<!-- go back and rename the id's and labelledby-->
</div>
    

<%- include('partials/footer') -%>
