<%- include('partials/headers/header-menu') -%>

<main class="container">
  <section class="section-main-profile">
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
  </section>
</main>
<%- include('partials/footer') -%>
