<%- include('partials/header') -%>
<main class="container mx-auto">
	<section class="flex flex-col items-center justify-center text-center">
		<form action="/signup" method="POST">
			<div class="mb-6">
				<label class="block mb-2" for="userName" class="form-label">User Name</label>
				<input
					class="border border-gray-400 p-1 rounded-md"
					type="text"
					id="userName"
					name="userName"
				/>
			</div>
			<div class="mb-6">
				<label class="block mb-2" for="exampleInputEmail1" class="form-label">Email address</label>
				<input
					class="border border-gray-400 p-1 rounded-md"
					type="email"
					id="exampleInputEmail1"
					aria-describedby="emailHelp"
					name="email"
				/>
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-6">
				<label class="block mb-2" for="password" class="form-label">Password</label>
				<input
					class="border border-gray-400 p-1 rounded-md"
					class="block mb-2"
					type="password"
					id="password"
					name="password"
				/>
			</div>
			<div class="mb-6">
				<label class="block mb-2" for="confirmPassword" class="form-label">Confirm Password</label>
				<input
					class="border border-gray-400 p-1 rounded-md"
					type="password"
					id="confirmPassword"
					name="confirmPassword"
				/>
			</div>
			<button
				type="submit"
				class="bg-orange-400 text-white hover:bg-orange-500 rounded-full px-12 py-3"
			>
				Submit
			</button>
		</form>
		<% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
		<div class="text-red-400 font-bold mt-12"><%= el.msg %></div>
		<% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach( el => { %>
		<div class="text-yellow-900 mt-12"><%= el.msg %></div>
		<% }) %> <% } %>
	</section>
</main>

<%- include('partials/footer') -%>
