<%- include('partials/header') -%>

<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 wobble-hor-bottom logo" href="/">The Art Lounge
        <img src="/imgs/logo.png" alt="The Art Lounge Logo">
      </a>
  </div>
</nav>

<main class="signup intro container">
  <h2 class="mb-3">Sign up</h2>
  <!-- display error messages -->
  <% if (locals.messages.errors || locals.messages.info) { %>
    <div class="errMsgs">
      <div class="alert alert-danger">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el => { %>
            <span><%= el.msg %></span>
          <% }) %>    
        <% } %>

        <% if (locals.messages.info) { %>
          <% messages.info.forEach( el => { %>
            <span><%= el.msg %></span>
          <% }) %>    
        <% } %>
      </div>
    </div>
  <% } %>
  <!--form-->
  <form action="/signup" method="POST">
      <input type="text" class="form-control mb-1" id="userName" name="userName" placeholder="Display name">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email address">
      <div id="emailHelp" class="form-text mb-1">We never share your email with anyone.
      </div>
      <input type="password" class="form-control mb-1" id="password" name="password" placeholder="Password">
      <input type="password" class="form-control mb-1" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
      <button type="submit" class="btn btn-primary">Submit</button>
    <!-- </div> -->
  </form>
  <p>Already have an account?</p>
  <a href="/login">Sign in</a>
    <!-- </section> -->
  <!-- </div> -->
</main>

<%- include('partials/footer') -%>