<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label"></label>
                        <input type="text"class="input input-bordered w-full max-w-xs" placeholder="User Name" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"></label>
                      <input type="email" class="input input-bordered w-full max-w-xs" placeholder="Email Address" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label"></label>
                      <input type="password" class="input input-bordered w-full max-w-xs" placeholder="Password" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label"></label>
                        <input type="password" class="input input-bordered w-full max-w-xs" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="btn">Submit</button>
                  </form>
            </section>
        </div>
    </main>

