<%- include('partials/header') -%>
      <div class="col-6">
          <div>
              <p><strong><%= user.userName %></strong></p>
              <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
              <a href="/logout" class="col-3 btn btn-primary">logout</a>
          </div>
          <div class="mt-5">
            <h2>add a pattern</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">description</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">upload</button>
            </form>
            <a href="/profile">
              <img class="img-thumbnail" src="/imgs/profile.png" alt="profile" width="100" height="200">
            </a>
          </div>
      </div>
    </div>
<%- include('partials/footer') -%>