<%- include('partials/header') -%>

<h2>Welcome to LifeLine</h2>

<%=  <h2>Search for a medication in your Current Medications:</h2>
<br>

<input type="text"
       placeholder="Medication Name"
       id="medName">
<button >Search List</button>
<button class="clear" >Clear</button>
<br>
<br>

<h3> Med Information:</h3>
<br>
<h4 id="medInformation"></h4>
</section>
%> 
<%- include('partials/footer') -%>
